body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.answerBtn {
  margin-top: 10px;
  margin-left:25%;
  display: block;
}

.question {
  text-align: left;
  margin-left: 25%;
}